venv
*.pyc
staticfiles
.env
secrets.json
.idea/*
media
reports/*
.DS_Store
.coverage
dump.rdb
celerybeat-schedule.db
start-celery
.vscode
settings_local.py
crew4.dump
crew4.sql
*.log
*.eml
htmlcov
celerybeat-schedule
*.sqlite3
dump.sh
google-credentials.json
*.http